.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.player-pick {
  height: 200px;
  width: 100%;
  display: flex;
  border-radius: 7px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1f3641;
  padding: 17px;
  width: 400px;
}
.game-button {
  width: 100%;
}
.mark-button-box {
  width: 90%;
  height: 100px;
  padding: 10px;
  background-color: #1a2a33;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
.mark-button {
  border: none;
  width: 50%;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
}
.o-mark-button {
  background-color: #1a2a33;
}
.o-mark-button:hover {
  background-color: #21313a;
}
.x-mark-button {
  background-color: #a8bfc9;
}

.notice {
  font-size: 12px;
  opacity: 0.5;
}

@media (max-width: 600px) {
  body {
    height: 100vh;
    overflow: hidden;
    align-items: center;
  }
  .mark-button-box {
    width: 85%;
  }
  .player-pick {
    padding: 20px 0;
    width: 100%;
  }
  .menu {
    width: 98%;
  }
}
